<h1>Submit Form</h1>
<form action="/message" method="post">
    First Name<input type="text" name="firstName"><br>
    Last Name<input type="text" name="lastName"><br>
    Password<input type="text" name="password"><br>
    Email<input type="email" name="email"><br>
    <button type="submit">Submit</button>
</form>